h2 {
  font-size: 40px;
  font-weight: bold;
  color: #666;
  font-family: Arial, Helvetica, sans-serif;

}




nav {
  background-color: #333; 
  padding: 10px; 
  padding-right: 10000px;
  
  }

nav ul {
  list-style: none; 
  margin: 0; 
  padding: 0; 
  display: flex; 
  justify-content: space-between; 
 }


nav li{
  margin-right: 50px; 
}

nav a {
  color: #fff; 
  text-decoration: none; 
}

nav a:hover {
  color: #ccc; 
}

<nav> {
  display: flex;
  justify-content: center; 
}


<div class="dropdown"> {
  display: flex;
  justify-content: center; 
}



.fixed-container {
  position: fixed;
  top: 0;
  left: 0;
}

.absolute-element {
  position: absolute;
  top: 0;
  left: 0; 
}



div.a{

    text-align: center;

}





